<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-1">

    </div>

    <div class="col-10">
      <div class="card mb-3 p-2 bg-dark text-white">
        <div class="text-center">
          <button type="button" class="btn btn-shadow btn-lg btn-outline-success text-center" (click)="toggleULFunction(ulCollapsed)"
            [attr.aria-expanded]="!ulCollapsed" aria-controls="collapseExample">
            <span class="fa fa-upload mr-2"></span>
            Encrypt &amp; Upload File
          </button>
        </div>
        <div id="collapseExample" [ngbCollapse]="ulCollapsed">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <form>
                  <div class="form-group row">
                    <div class="col">
                      <label for="file" id="fileBtn" class="btn btn-shadow btn-lg btn-outline-success fullwidth">
                        Choose File
                        <input type="file" id="file" (change)="getFileInput($event.target.files)">
                      </label>

                    </div>
                    <div class="col">
                      <label id="selectedFileName">{{fileName}}</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <button type="button" class="btn btn-shadow btn-lg btn-outline-success" (click)="startFileUpload()">
                        <span class="fa fa-file-archive mr-2"></span>
                        Start Encryption &amp; File Upload
                      </button>
                    </div>
                  </div>
                </form>
                <div class="row" *ngIf="showlink">
                  <textarea id="showfilelink" class="fullwidth" data-ng-model="showfilelink" >{{showfilelink}} </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 p-2 text-center bg-dark text-white">
        <div class="text-center">
          <button type="button" class="btn btn-shadow btn-lg btn-outline-danger" (click)="toggleDLFunction(dlCollapsed)" [attr.aria-expanded]="!dlCollapsed"
            aria-controls="collapseExample">
            <span class="fa fa-download mr-2"></span>
            Fetch Encrypted File
          </button>
        </div>
        <div id="collapseExample" [ngbCollapse]="dlCollapsed">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row textAreaPad">
                  <div class="col">
                    <label>Enter the link given to you here.</label>
                    <textarea id="decryptfilelink" class="fullwidth" [(ngModel)]="decryptfilelink"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-shadow btn-lg btn-outline-danger" (click)="startFileDownload()">
                      <span class="fas fa-unlock-alt mr-2"> </span>
                      Start File Download &amp; Decryption
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-1">

    </div>
  </div>
</div>
